.pagestyle{
    background-color:aliceblue;
    padding: 10px;
    height: 95vh;
    border: 10px ridge royalblue;

}.custom-tabset {
    font-size: 20px;
    font-weight: bolder; /* Adjust the font size as needed */
}/*
.tabstyle{
    background-color: coral;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    height: 80vh;
    overflow-x: scroll;
    overflow-y: scroll;

}*/