.addressheader{
    background: #F3F3F3;
    padding: 16px;
}
.addressInformtext strong{
    color: #181818;
    font-size: 14px;
    font-weight: 700;
}
.addressInformtext span{
    font-size: 11pt !important;
}
.menudropdown{
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

.icon{
    color: #008000;
}
.bottomheader{
    padding: 0px;
    background: #F3F3F3;
    
}
.view-all{
    text-align: center;
    color: #1A5A96;
       padding: 14px 0 5px 0px;
}

.menudropdown button.vlocity-btn{
    width: 21px;
    height: 21px;
    padding: 1px 6px 2px 14px;
    border-color: rgb(116,116,116);

}

.addressheader.header-address-bc .block-container slot > .slds-grid.slds-wrap{
display: flex;
justify-content: space-between;
}

.menudropdown{
display: flex;
    justify-content: flex-end;
    margin-right: 0px;
}
.menudropdown svg{
    width: 14px;
    fill: rgb(116,116,116);
}
.menudropdown .slds-modal__container svg {
      width: auto;
    fill: #fff;
}
.address-block .slds-m-bottom_x-small{
margin-bottom:0;
padding-bottom:0
}
.address-block .slds-p-around_x-small{
margin-top:2px;
padding-top:0
}
.heading-left-icon-cont{
    width:5px;
}