.dummy{
	color : black;
}
.manage-units{
	justify-content: center;
	align-items: center;
}
.manage-units-button{
	padding-top: 20px;
}
.manage-units-button-margin{
	margin-right: 20px;
}

.manage-units-combobox{
	max-width: 200px;
}