.unitcapacityheader{
    background: #F3F3F3;
    padding: 16px;
    height: 48px;
}
.units{
    font-size: 12px;
}
.unitsandcapacitytext strong{
    color: #181818;
    font-size: 11pt !important;
    font-weight: 700;
}
.unitsandcapacitytext span{
    font-size: 10pt !important;
}
.units .slds-popover{
        position:absolute;        
        width: 14rem;          
}
        .slds-popover__body,
        .slds-popover__footer,
        .slds-popover__header {
        position: relative;        
        word-wrap: break-word;
}
         
        .slds-popover--tooltip .slds-popover__body,
        .slds-popover_tooltip .slds-popover__body {
        font-size: .75rem;        
}
         
        .slds-popover--tooltip,
        .slds-popover_tooltip {
        width: auto;               
}