.unitcapacityheader{
    background: #F3F3F3;
    padding: 16px;
    height: 48px;
}
.unitsinput{
    font-size: 12px;
}
.unitsandcapacitytext strong{
    color: #181818;
    font-size: 11pt !important;
    font-weight: 700;
}
.unitsandcapacitytext span{
    font-size: 10pt !important;
}