.slds-form-element__label {
    font-weight: 700;
}

.filterContainer {
    width: 220px;
}

.customLabel {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 4px;
}

lightning-combobox {
    --slds-c-input-color-border: #747474;
}