.container {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    background-color: white;
}

.main-body {
    flex-grow: 1;
    background-color: white;
    padding: 16px; /* Adjust padding as needed */
    max-height: 50vh; /* Set the maximum height to 50% of the viewport height */
    overflow-y: auto; /* Add vertical scrolling if content exceeds the height */
}

.header {
    background-color: #F2F2F2;
    padding: 8px;
    flex-shrink: 0;
    height: 65px;
    width: -webkit-fill-available;
}

.custom-heading-link {
    display: inline;
    font-size: 11pt !important; /* Change as needed */
    font-weight: 700; /* Change as needed */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25;
    color: #181818;
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
}
.custom-heading-link:hover {
    color: #0056b3; /* Change link color on hover */
}

.slds-col {
    flex-basis: 90%;
}

.slds-size_1-of-12 {
    flex-basis: 10%;
    text-align: right;
}
.slds-button-group {
    display: flex;
    align-items: center;
}

/* Dropdown container */
.slds-dropdown {
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    padding: 8px 0;
    width: auto;
    top: 100%;
    right: 0;
}


/* Dropdown menu */
.dropdown-menu {
    display: none; /* Initially hide the dropdown menu */
    position: absolute; /* Position dropdown menu absolutely */
    background-color: #fff; /* Background color of dropdown menu */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); /* Box shadow for dropdown menu */
    border: 1px solid #ccc; /* Border of dropdown menu */
    padding: 8px 0; /* Adjust padding as needed */
    width: 250px; /* Adjust width as needed */
    height: 350px;
    top: 0; /* Keep the dropdown menu aligned with the top of the button */
    left: auto; /* Keep the dropdown menu aligned with the left of the button */
    right: 0;
}

/* Show dropdown menu when dropdownVisible is true */
.show .dropdown-menu {
    display: block;
}
.slds-dropdown__list li a {
    font-size: 12px; /* Adjust font size as needed */
}

/* Hover effect on dropdown menu items */
.slds-dropdown__list li a:hover {
    color: #0070d2; /* Change color on hover as needed */
}
.footer {
    background-color: #f2f2f2;
    padding: 8px;
    flex-shrink: 0;
    height: fit-content;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .slds-grid {
    padding: 8px; /* Adjust padding as needed */
}

/* Ensure the "View All" link is in line */
.footer .slds-col {
    display: flex;
    align-items: center; /* Align items vertically */
}
.custom-footer-link {
    font-size: small; /* Change as needed */
    font-weight: 400; /* Change as needed */
    line-height: 1.25;
    color: #057ee7;
    text-decoration: none;
    transition: color 0.3s;
}
.custom-heading-link:hover {
    color: #0056b3; /* Change link color on hover */
}