/* Increase modal size */
.slds-modal__container {
    width: 90% !important;
    max-width: 1100px;
}

.slds-modal__content {
    height: 750px !important;
    overflow: hidden !important;
}

/* Optional: make iframe fill its container */
[data-id="monerisCheckout"] iframe {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
}