/* Each field column */
.custom-label {
    font-weight: 600;
    color: #4b4b4b;
    margin-bottom: 2px; /* spacing between label and value */
}

.custom-value {
    color: #1b1b1b;
    word-break: break-word;
}

/* Add spacing between rows */
.viewMode .slds-col {
    margin-bottom:  20px
}

.editMode .slds-col{
    padding-left: 26px;
}