/* Element labels - Bold */
.slds-form-element__label {
    font-weight: bold !important;
    font-size: 14px !important;
}

/* Block label - Bold + Blue */
.slds-accordion__summary-heading .slds-accordion__summary-action {
    color: #0070d2 !important;
    font-weight: 700 !important;
    font-size: 15px !important;
}

/* Keep the Block label blue when hover */
.slds-accordion__summary-heading .slds-accordion__summary-action:hover {
    color: #0070d2 !important;
    font-size: 15px !important;
}