.addressheader{
    background: #F3F3F3;
    padding: 16px;
}
.addressInformtext{
    color: #181818;
    font: 16px;
}
.icon{
    color: #008000;
}
.bottomheader{
    padding: 0px;
    background: #F3F3F3;
    height: 63.45px
}
.view-all{
    text-align: center;
    color: #1A5A96;
    margin-top: 22px;
}