.aquiferDetails .block-header-heading{
    background: rgb(243, 243, 243);
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-weight: 330 !important;
    font-size: xx-small !important;
}

.waterLicenseDetails .block-header-heading{
    background: rgb(243, 243, 243);
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-weight: 330 !important;
    font-size: xx-small !important;
}

.waterLicenseApplicationDetails .block-header-heading{
    background: rgb(243, 243, 243);
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-weight: 330 !important;
    font-size: xx-small !important;
}

.gWellDetails .block-header-heading{
    background: rgb(243, 243, 243);
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-weight: 330 !important;
    font-size: xx-small !important;
}
